*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos generados por Gradle
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.so
*.keystore
*.jks
